SHELL=/bin/bash
# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  *  user command to be executed
# Example : update every hour
# 0 * * * * arkmanager update >> /ark/log/crontab.log 2>&1
# Example : backup every 15min
# */15 * * * * arkmanager backup >> /ark/log/crontab.log 2>&1
# Example : backup every day at midnight
# 0 0 * * * arkmanager backup >> /ark/log/crontab.log 2>&1
# Example : Clean up backups older than 7 days and remove empty folders at 2:10am
# 10 2 * * * find /ark/backup -type f -mtime +7 -delete; find /ark/backup -type d -empty -delete
# WARNING : the container timezone is maybe not your current timezone
#           You can sync them with option -v /etc/localtime:/etc/localtime:ro or -e "TZ=UTC"
# the following is a sanity test to ensure cron is running
* * * * * /home/steam/cron-test.sh 2>&1
